<nav>
  <div class="nav-container">
    <a href="{{ '/' | relative_url }}" class="nav-logo">
      <img src="{{ '/assets/images/logo/logo-white.svg' | relative_url }}" alt="{{ site.author.name }}" height="40">
    </a>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
      <li><a href="{{ '/research.html' | relative_url }}">Research</a></li>
      <li><a href="{{ '/cv.html' | relative_url }}">CV</a></li>
      <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
    </ul>
  </div>
</nav>
